@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.ratingBtnContainer {
    display: flex;
    gap: 1rem;
}

.ratingBtn {
    border-radius: 5px;
    background-color: #009999;
    color: white;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: none;
    width: 50%;
}

.ratingBtn:hover {
    background-color: #086969;
    color: white;
}

.ratingBtnUpVoted::before {
    font-family: "bootstrap-icons";
    font-size: x-large;
    display: inline-block;
    content: "\F236";
    color: #A1CBE8;
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}



.ratingBtnUp::before {
    font-family: "bootstrap-icons";
    font-size: x-large;
    display: inline-block;
    content: "\F237";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

.ratingBtnDown::before {
    font-family: "bootstrap-icons";
    font-size: x-large;
    display: inline-block;
    content: "\F22B";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

.ratingBtnDownVoted::before {
    font-family: "bootstrap-icons";
    font-size: x-large;
    display: inline-block;
    content: "\F22A";
    color: #A1CBE8;
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

.ratingBtnUpActive::before {
    animation: fadeIn 1.5s;
    content: "Upvote";
    background: none;
}

.ratingBtnDownActive::before {
    animation: fadeIn 1.5s;
    content: "Downvote";
    background: none;
}

.ratingBtnVotedActive::before {
    animation: fadeIn 1.5s;
    content: "Remove vote";
    background: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ------------------------------------------------ Spinner --------------------------------- */

.dualRingSpinner {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: auto;
}

.dualRingSpinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #009999 transparent #009999 transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}